<!-- filepath: d:\VisualStudio\Source Code\Project\MovieBee\movie-bee-be\src\mail\templates\test.hbs -->
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <p>Xin chào <strong>{{name}}</strong>,</p>
    <p>Mã xác nhận của bạn là <strong>{{otp}}</strong>.</p>
    <p>Mã xác nhận này có hiệu lực trong 5 phút.</p>
    <p>Cảm ơn bạn đã sử dụng <strong>MovieBee</strong>!</p>
  </body>
</html>