<!-- filepath: d:\VisualStudio\Source Code\Project\MovieBee\movie-bee-be\src\mail\templates\test.hbs -->
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <p>Xin chào <strong>{{name}}</strong>,</p>
    <p>Video <strong>{{movieId}}</strong> đã được tải lên thành công.</p>
  </body>
</html>