<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Movie Bee</title>
  </head>
  <body>
    Test EJS Home Page - Movie Bee
  </body>
</html>
